:root {
  /* Colors */
  /* Primary */

  --Linear-gradient: #a2a6f1 to #696ddd;

  /* Neutral */

  --Blue-50: #f6f6fe;
  --Gray-650: #6d708d;
  --Gray-700: #494c5f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  background: var(--Blue-50);
}

.container__body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 2rem;
}

.bg-top {
  position: absolute;
  top: -3rem;
  right: -19rem;
  z-index: -1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}

header .title {
  font-size: 3rem;
  color: var(--Gray-650);
}

header .content--subscription {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: #b6b6c1;
  font-weight: 600;
  font-size: 1.4rem;
}